<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @caurusel_image.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= @caurusel_image.img %>
</p>

<%= link_to 'Edit', edit_caurusel_image_path(@caurusel_image) %> |
<%= link_to 'Back', caurusel_images_path %>
