<p id="notice"><%= notice %></p>
<div align="center">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @product.text %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
</div>
<div align="center">
  <div class="col-sm-6" align="right">
  <strong>First img:</strong> <br/>
  <%= image_tag @product.first_img, width: "100" %>
  </div>
  <div class="col-sm-6" align="left">
  <strong>Second img:</strong> <br/>
  <%= image_tag @product.second_img, width: "100" %>
    </div>
</div>

<hr/>
<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning' %> |
<%= link_to 'Back', products_path, class: 'btn btn-danger' %>