<!DOCTYPE html>
<html>
<head>

  <%= render 'shared/head' %>

  <title>

    WE BUY GOODS | CAHS FOR YOUR UNWANTED ITEMS

  </title>

</head>
<body>


<%= render 'shared/tapbar'%>

<%= render 'shared/navbar' %>

<div id="all">

<%= render 'shared/advantage' %>

<%= render 'shared/products' %>

<%= render 'shared/inspired' %>

<%= render 'shared/blog' %>

<!--<%= yield %>-->

<%= render 'shared/scripts' %>

<%= render 'shared/footer' %>

<%= render 'shared/copywrite' %>

</div>
<!-- /#all -->

</body>
</html>
